body{
    margin: 0;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-style: italic;
    padding-left: 10px;
}
h2, h3{
    padding-left: 10px;
    font-size: 18px;
    font-style: italic;
    padding-left: 10px;
}
P{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: italic;
    padding-left: 10px;   
}
spam{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: italic;
    padding-left: 10px;
    background-color:lightgrey;
}
#titulo{
    font-size: 40px;
}
header{
    background-color: rgba(rgba(189, 184, 184, 0.39));
    text-align: center;
}
section{
    display: flex;
    background-color:rgba(rgba(189, 184, 184, 0.39));
    height: 1400px;
    padding: 10px;
}

article{
    display: flex;
    background-color:whitesmoke;
    flex: 2;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 20px;
    justify-content: space-around;
}
aside{
    background-color:whitesmoke;
    flex: 1;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 20px;
}
.ladoa{
    background-color: whitesmoke;
    flex: 3;
    margin-bottom: 40px;
    box-shadow: 0px 2px 2px -1px;
}
.ladob{
    background-color: whitesmoke;
    flex: 2;
    box-shadow: 0px 2px 2px -1px;
}
.cima{
    background-color: whitesmoke;
    flex: 3;
    margin-bottom: 40px;
    box-shadow: 0px 2px 2px -1px;
    font-size: 10px;
    font-style: italic;
    padding-left: 10px;
}
.meio{
    background-color: whitesmoke;
    flex: 2;
    margin-bottom: 40px;
    box-shadow: 0px 2px 2px -1px;
    font-size: 10px;
    font-style: italic;
    padding-left: 10px;
}
.baixo{
    background-color: whitesmoke;
    flex: 2;
    margin-bottom: 20px;
    box-shadow: 0px 2px 2px -1px;
    font-size: 10px;
    font-style: italic;
    padding-left: 10px;
}
